.back-1 {
    /* background-image: url('../img/vr_user_background.jpg'); */
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/vr_user_background.jpg');
    opacity: 100%;
    background-size: cover;
    background-position: 0 -200px;
    /* background: rgba(0, 0, 0, .4); */
}

.text-white {
    text-shadow: 2px 2px black;
}